%h1 Home#index

-unless current_user
	= link_to "Sign in", :new_user_session
-else
	%p
		= "Zalogowałeś się jako #{current_user.login}"
		= link_to "Sign out", :destroy_user_session, :method => :delete
